*{
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    
}

body{
    font-size: 100%;
    background-color: #000;
    background-repeat: no-repeat;
    background-size:cover;
    

}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0 0 10px #cccccc;
    transform: scale(1.08);
}


.interface{
    max-width: 1280px;
    margin: auto;
    padding: 40px 4%;
}

.flex{
    margin: 0 0;
    display: flex;
    justify-content: space-around;
    
}

.logo{
    width: 150px;     
    border-radius: 50%;   
          
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Estilo cabeçalho */

header a{
    color: #fff2e73a;
    display: inline-block;
    transition: 0.2s;

    
}

header nav.menu-desktop a:hover{
    color:#f1c40f;
    transform: scale(1.08);
    
}

header nav ul{
     list-style-type:none;
     
    
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding:20px 40px;
    font-size: 20px;
}

/* Estilo menu mobile */
.menu-mobile{
    background-color:#000000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: 0.2s;
}

.menu-mobile.abrir-mobile{
    width: 70%;
}

.menu-mobile.abrir-mobile~ .overlay-menu{
    display: block;
}

 .abrir-menu i{
    color: #fca311;
    font-size: 42px;
}

.menu-mobile .btn-fechar{
    font-size: 30px;
    color: #fca311;
    padding: 20px 4%;
    margin-right: 200px;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #FFF2E7;
    font-size: 20px;
    font-weight:300;
    padding: 20px 4%;
    display: block;
    padding: 20px 8%;
}

.menu-mobile nav ul li a:hover{
    background-color:#fca311;
}

.overlay-menu{
    background-color: #0000008a;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}

/* parte central */

.h1{
    color: #FFF2E7;
}

section.destaque{
    margin-bottom: 48px;
    padding: 40px 4%;
}

.section.destaque .flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:20px;
    flex-wrap: wrap;
}    
   

.name-destaque{
    font-weight: 700;
    font-size: 32px;
    color: #FFF2E7;
}

.subtitulo{
    font-size: 30px;
    text-transform: uppercase;
}

.btn-contato{
    padding: 10px 40px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    margin-top: 50px;
    
}

.desenho{
    width: 35vw;
    height: 50vh;
    padding: 18px;
    }

 .destaque .desenho img{
    position: relative;
    animation: flutuar 1.8s ease-in-out infinite alternate;
         
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 40px;
    }
}

.especialidades{
    padding: 18px 4%;
    color: #FFF2E7;
    margin-bottom: 30px;
    font-weight: 400;
}

.especialidades .card-box i{
    font-size: 48px;
}

/* Seção2 */
 .img-sobre img{
    width: 28vw;
    height: 70vh;
    padding: 18px;
    border-radius: 15% 15% 20%;
}

.txt-sobre{
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 30px;
}

.especialidades .txt-sobre span{
    display: block;

}

.sobre-paragrafo {
    font-size: 20px;
    margin: 20px 16px;
    text-align: justify;
}

.card-box p{
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 8px;
}

/* Projetos */

section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff2f;

}

.portfolio_final{
    margin: 0 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;    
}


.projeto{
    width: 360px;
    height:460px ;
    background-color:#000;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
   
}

.projeto:hover{
    background-position: 100% 100%;
    
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: #000008c2;
    border-radius: 40px;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    opacity: 0;
    transition: 0.5s;
}

.overlay:hover{
    opacity: 1;
}

.projeto a{
    color: #FFF2E7;
    
}
/* Formulario */

section .formulario{
    padding: 40px 4%;
}

form{
    max-width: 500px;
    margin: 0   auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

 form input, form textarea{
    width: 100%;
    background-color: #414040bb;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;  
    color: #FFF2E7;
    font-size: 18px; 
   
}

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;

}

form .btn-enviar input[type=submit]{
    width: 120px;
    background-color: #FFF2E7;
    color: #000000;
    font-weight:700;
    cursor: pointer;
    transition: 0.2s;
    

}

/* Rodapé */

footer{
        box-shadow: 0 0 40px 10px #ffffff1d;
}

.line-footer{
    display: flex;
    flex-direction: column;    
    color: #FFF2E7;
    gap: 4px;
}

.line-footer a{
    color: #FFF2E7;
    margin-bottom: 8px;
}

.line-footer a:hover{
    color: #fca311;
    transition: (0.2s);
}

.redes-sociais{
    margin-bottom: 0px;
}

.redes-sociais button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    font-size: 25px;
    cursor: pointer;
    margin: 6px 6px;
    transition: 0.2s;    
}

footer .flex{
    justify-content:center;

}

@media screen  and (max-width: 1020px){
    /* Classe geral */
    .flex{
        flex-direction: column;
    }

    .destaque .flex{
        flex-direction: column-reverse;
    }

    /* Cabeçalho */
    section.destaque{
        padding: 15px 4%;
    } 

    /* seção1 */

    .sobre-paragrafo {
        font-size: 18px;
        margin: 20px 16px;
        text-align: justify;
    }

    .img-sobre img{
        width: 80%;
        padding: 18px;
        border-radius: 15% 15% 20%;
    }

    .projeto{
    width: 310px;
    height:400px ;
    margin: 20px 30px 0px 0px ;
    }

    .txt-sobre{
        font-size: 30px;
    }


    /* Cabeçalho */
    .menu-desktop{
        display: none;
    }
}






